@import "zmienne";

body {
	color: $base-color;
	background-color: $bg-color;
		
}

@mixin menu-nawigacyjne {
	color:  red;
	font-size: 22px;
}


//sposó pisania kodu i zagnieżdzania
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: inline-block;
			
			a {
				@include menu-nawigacyjne;
			}
		}
	}
}


